body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  background-color: #ffdee9;
  background-image: -webkit-linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  background-image: -moz-linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  background-image: -o-linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  box-shadow: 0 8px 32px 0 rgba(156, 146, 172, 0.9);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 15px;
}
#tooltip {
  height: 25px;
  width: 50px;
  padding: 4px;
  font-size: 2em;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  border: 5px solid black;
  border-radius: 15px;
  color: black;
}
#info {
  border: 2px solid black;
  border-radius: 15px;
}

.overlay {
  position: absolute;
  background: #fff;
  pointer-events: none;
}
.bar {
  background-color: black;
  fill: black;
}
.bar:hover {
  background-color: black;
  fill: white;
}
